nav {
  padding: 3em 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}

nav h1 {
  font-size: x-large;
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 2em;
}

#menu {
  cursor: pointer;
  display: none;
}

#menu div {
  height: 3px;
  width: 25px;
  background-color: white;
  border-radius: 100px;
  margin-bottom: 4px;
  transition: 0.3s ease-in;
}

#menu.open .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}

#menu.open .line2 {
  visibility: hidden;
}

#menu.open .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

#menu-content {
  background-color: #000000eb;
  border-radius: 0 0 10px 10px;
  position: fixed;
  width: 100%;
  transform: translateY(-1000px);
  transition: 0.3s ease-in-out;
}

#menu-content.open {
  transform: translateY(0);
}

#nav.open {
  background-color: black;
}

#menu-content li {
  text-align: center;
  padding: 1em 0;
  border-bottom: 0.3px solid gray;
}

#menu-content li:last-child {
  border-bottom: none;
}

@media (max-width: 560px) {
  nav ul {
    display: none;
  }

  #menu {
    display: block;
  }
}
